./.idea/*
./.venv/*
./avalAgent.egg-info/*
./*.egg-info/*
./tests/*
/avalAgent.egg-info/
/*.egg-info/
/*.egg-*/
./.idea/
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/compiler.xml